<html>
<head>
    <title>Design App</title>
    <link rel="stylesheet" href="/static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Login</h1>
    
    <form action="/" method="POST">
        <input type="text" placeholder="Username" name="username" value="">
         <input type="password" placeholder="Password" name="password" value="">
        <input class="btn btn-default" type="submit" value="Login">
    </form>

</body>
</html>
